<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AppParkingSys_Front</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AppParkingSys_Front.styles.css" asp-append-version="true" />
</head>
<body>

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							<a class="navbar-brand" asp-page="/Index">AppParkingSys</a>
						</li>
						<li>
							<a asp-page="/Index">Home</a>
						</li>
						<li>
							<a asp-page="/Privacy">Privacy</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Payments <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a asp-page="/Payments/PaymentGetAllToPay">Tickets to pay</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Price <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a asp-page="/Prices/PriceGetAll">List Prices</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tickets <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">Ticket Dispenser</li>
								<li><a asp-page="Tickets/RegisterTicket">Dispenser</a></li>
								<li role="separator" class="divider"></li>
								<li><a asp-page="/Tickets/TicketGetAll">Get All Tickets</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a asp-page="/Users/UsersGetAll">List Users</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav">
						@if (User.Identity.IsAuthenticated) 
						{
							<li><a asp-page=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @User.Identity.Name </a></li>
							<li><a asp-page="/Logout">Logout</a></li> 
						} 
						else 
						{ 
							<li><a asp-page="/Login">Login</a></li>
						}
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div class="row">
		<div class="container">
			<main role="main" class="">
				@RenderBody()
			</main>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			&copy; 2025 - AppParkingSys - <a asp-area="" asp-page="/Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
