@page "{id:int}"
@model Users.DeleteUserModel
@{
	Layout = "~/Pages/Shared/_Layout.cshtml";
	ViewData["Title"] = "Delete User";
	var Message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(Message))
{
	<p class="text-danger">@Message</p>
} 