@page
@model AppParkingSys_Front.Areas.Users.Pages.DeleteUserModel
@{
	Layout = "~/Pages/Shared/_Layout.cshtml";
	ViewData["Title"] = "";
	var Message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(Message))
{
	<p class="text-danger">@Message</p>
} 