@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    var errorMessage = TempData["ErrorMessage"] as string;
}

<h1 class="text-danger"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (!string.IsNullOrEmpty(errorMessage)) 
{
    <p class ="text-danger">@errorMessage</p>
} 
else 
{
    <p class="text-danger">An unexpected error has occurred.</p>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
