@page
@model AppParkingSys_Front.Pages.TicketsListModel
@{
    ViewData["Title"] = "List Tickets page";
}
<h1>Items</h1>
<div class="row">
    <ul> 
        @foreach (var item in Model.TicketList)
        {
            <li>@item.Id - @item.EntryTime - @item.ExitTime</li>
        }
    </ul>
</div>