@page "{id:int}"
@model Prices.DeletePriceModel
@{
	Layout = "~/Pages/Shared/_Layout.cshtml";
	ViewData["Title"] = "Delete Price";
	var Message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(Message))
{
	<p class="text-danger">@Message</p>
}
